/* Global */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
  display: grid;
  grid-template-rows: 80px auto 250px;
  grid-template-columns: 1fr;
}

h1 {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "helvetica", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

/* Header */

header {
  grid-column: 1 /3;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #25232d;
}

header a {
  text-decoration: none;
  color: #25232d;
}

.logo-section {
  display: flex;
}

.logo {
  max-width: 80px;
}

.logo-text {
  font-size: 45px;
  padding-top: 5px;
}

nav {
  justify-self: flex-end;
  padding-right: 25px;
  grid-column: 2;
  grid-row: 1;
}

.icon-hamburger {
  display: none;
}

#hamburger-menu {
  display: none;
}

li {
  display: inline;
  padding: 6px;
  font-size: 25px;
}

li:hover {
  background-color: #c2500d;
  padding: 0px 6px;
}

/* Footer */

footer {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  justify-content: space-evenly;
  background-color: #25232d;
  color: white;
  font-family: "helvetica", Verdana, Geneva, Tahoma, sans-serif;
}

footer h4 {
  font-size: 18px;
}

footer p {
  font-size: 15px;
  font-weight: lighter;
  margin: 10px 0px;
  line-height: normal;
}

.fab {
  font-size: 45px;
  color: #f9ffac;
}

.fab:hover {
  color: #c2500d;
}

.fa-facebook-square {
  padding-right: 8px;
}

.fa-twitter-square {
  padding-left: 8px;
}

/* Home Page */

.main-homepage {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.front-img1 {
  grid-column: 1 / 3;
  width: 99vw;
  max-height: 410px;
  object-fit: cover;
  object-position: top;
}

.button-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.button-section:before {
  grid-area: 2 / 1;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(../images/front-img2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.button-section a {
  position: relative;
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #25232d;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 25px;
}

.button-section a:hover {
  background-color: #c2500d;
}

.explore-section {
  grid-column: 2;
  grid-row: 2 / 4;
  background-color: #f9ffac;
  font-family: "helvetica", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 17px;
  line-height: 1.5;
  color: #c2500d;
  padding: 20px 40px;
}

.explore-section h1 {
  text-transform: uppercase;
  font-size: 70px;
  margin: 0px;
  letter-spacing: -1.5px;
}

.exhibition-spaces-section {
  grid-area: 3 / 1;
  background-color: #3d4f73;
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.exhibition-spaces-section h2 {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: white;
  padding: 0px 50px;
  margin: 46px 0px 30px 0px;
}

.exhibition-spaces-section p {
  color: white;
  font-weight: lighter;
  font-size: 17px;
  line-height: 1.3;
  margin: 0px;
  padding: 0px 50px;
}

.exhibition-spaces-section a {
  font-family: "Helvecita", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  color: white;
  padding: 0px 50px;
  text-decoration: none;
  font-style: italic;
}

.exhibition-spaces-section a:hover {
  color: #c2500d;
}

.special-events-text h2 {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  font-size: 50px;
  color: #25232d;
  padding: 0px 50px;
}

.special-events-text p {
  font-weight: lighter;
  padding: 0px 50px;
}

.special-events-text a {
  font-family: "Helvecita", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  color: #25232d;
  padding: 0px 50px;
  text-decoration: none;
  font-style: italic;
}

.special-events-text a:hover {
  color: #c2500d;
}
.special-events-pics {
  margin: 0 auto;
}

.special-events-pics img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 30px auto;
}

.special-events-pic1 {
  padding-right: 25px;
}

/* Visit - Explore - Exhibits - Events - Get Involved */

.main-visit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fefff0;
}

.main-visit h1,
.main-getinvolved h1,
.main-events h1,
.main-explore h1 {
  color: #c2500d;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: -1.5px;
  padding-left: 80px;
  margin-top: 40px;
}

.main-visit h2,
.main-getinvolved h2,
.main-events h2,
.main-explore h2 {
  color: #c2500d;
  text-transform: uppercase;
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding-left: 80px;
  letter-spacing: -1.5px;
  margin: 35px 0px 0px 0px;
}

.main-visit p,
.main-getinvolved p,
.main-events p,
.main-explore p {
  padding-left: 80px;
  font-weight: lighter;
  font-size: 17px;
}

.visit-text {
  grid-column: 1;
  grid-row: 1 / 3;
  margin-bottom: 50px;
}

.visit-pictures {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  max-width: 450px;
  margin-top: 50px;
}

.museum-building {
  max-width: 450px;
  margin-top: 60px;
}

/* Get Involved */

.main-getinvolved {
  background-color: #fefff0;
  grid-column: 1 /3;
  padding-bottom: 50px;
}

.main-getinvolved p {
  max-width: 800px;
}

.main-events {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: auto 1fr;
}

.main-events h1 {
  grid-column: 1 / 3;
}

.main-events h2 {
  margin: 0px;
}

.main-events p {
  max-width: 600px;
  font-weight: lighter;
  font-size: 17px;
}

.main-events img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin: 0px 0px 40px 80px;
}

.main-explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 280px 1fr 1fr;
}

.main-explore h1 {
  grid-column: 1 / 3;
}

.forchildren-text {
  grid-area: 2 / 1;
}

.forchildren-text2 {
  grid-area: 2 / 2;
}

.pic-mammoth {
  grid-column: 1 / 3;
  grid-row: 3;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
}

.forchildren-text,
.forchildren-text2,
.forteachers-text,
.researchers-text {
  max-width: 600px;
}

.forchildren-text2 h2,
.researchers-text h2,
.forchildren-text2 p,
.researchers-text p {
  padding-left: 20px;
}

.forchildren-text2 p {
  margin-top: 75px;
}

.forchildren-text h2 {
  margin-top: 0px;
}
@media only screen and (max-width: 1300px) {
  /* Header */
  .logo {
    max-width: 70px;
  }

  .logo-text {
    font-size: 35px;
  }

  li {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  /* Header */
  .logo {
    max-width: 50px;
  }

  .logo-text {
    font-size: 25px;
  }

  li {
    font-size: 15px;
  }

  .map,
  .museum-building {
    max-width: 300px;
  }

  .visit-text h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    grid-template-rows: 60px auto 450px;
  }

  /* Header */
  nav {
    display: none;
  }

  .icon-hamburger {
    display: block;
    width: 20px;
    margin-right: 10px;
  }
  label[for="hamburger-menu"] {
    justify-self: flex-end;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    grid-area: 2/2;
    background-color: #ebebeb;
    padding: 0px;
    border-radius: 0px 0px 0px 7px;
    position: absolute;
    margin-top: 210px;
    right: 0px;
  }

  ul {
    margin: 0px;
    padding: 10px;
  }

  li {
    display: block;
    padding: 5px;
    font-family: "helvetica", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }

  li:hover {
    background-color: #ebebeb;
    padding: 5px;
  }

  footer {
    flex-direction: column;
    grid-row: inherit;
  }

  footer h4,
  .social-media {
    text-align: center;
  }

  footer h4 {
    margin: 20px 0px 8px 0px;
  }

  footer p {
    margin: 4px 0px;
    text-align: center;
  }

  .main-getinvolved h1,
  .visit-text h1,
  .main-events h1,
  .main-explore h1 {
    font-size: 30px;
  }

  .main-getinvolved h2,
  .visit-text h2,
  .main-events h2,
  .main-explore h2 {
    font-size: 25px;
  }

  .main-getinvolved p,
  .visit-text p,
  .main-events p,
  .main-explore p {
    font-size: 15px;
  }

  .main-visit {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .visit-text {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .visit-pictures {
    grid-column: 1;
    grid-row: 3;
  }

  .museum-building {
    margin-bottom: 10px;
  }

  .main-events {
    grid-template-columns: 1fr;
  }

  .main-explore,
  .main-events {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .main-explore h1,
  .main-events h1 {
    grid-row: 1;
  }

  .forchildren-text,
  .aeronautics-text {
    grid-area: 2 / 1;
  }

  .forchildren-text2,
  .pic-aeronautics {
    grid-area: 3 / 1;
  }

  .forchildren-text2 p {
    padding-left: 80px;
    margin-top: 0px;
  }

  .pic-mammoth,
  .nightatmuseum-text {
    grid-area: 4 / 1;
    max-width: 500px;
  }

  .forteachers-text,
  .pic-museumatnight {
    grid-area: 5 / 1;
  }

  .researchers-text,
  .energetica-text {
    grid-area: 6 / 1;
  }

  .pic-energetica {
    grid-area: 7 / 1;
  }

  .researchers-text h2,
  .researchers-text p {
    padding-left: 80px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    grid-template-rows: 50px auto 450px;
  }

  /* Header */
  .logo {
    width: 30px;
  }

  .logo-text {
    font-size: 15px;
  }

  #hamburger-menu:checked ~ nav {
    margin-top: 200px;
  }

  .main-getinvolved h1,
  .main-getinvolved h2,
  .main-getinvolved p,
  .visit-text h1,
  .visit-text h2,
  .visit-text p,
  .main-explore h1,
  .main-explore h2,
  .main-explore p {
    padding-left: 10px;
  }
}
